* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#container {
    border: solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#BTN {
    width: 250px;
    height: 250px;
    border-radius: 100%;
}